<%= form_tag("/questions/save", :method => "post") do %>
  <div style="margin:0;padding:0">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
  </div>
  <%= hidden_field_tag :id, @question.id%>
  <% if @follow == "true"%>
    This question is a follow-up to <%= @question.follows%>
    <%= hidden_field_tag :followUps, @question.follows%>
  <% else %>
    <% hidden_field_tag 'follows', @question.follows%>
  <% end %>
  
  <br>
  <%= label_tag(:quest, "Question:") %>
  <%= text_field_tag(:quest, @question.ask) %>
  <br>
  Order
  <%= text_field_tag(:order, @question.order) %>
  <br>
  <br>

  Answers:
  <br>
  <table>
    <tr>
      <td>
      <br>
      Answer 1
      <%= text_field_tag(:answer1) %>
      <div class="answer1_follow">
        <%= radio_button_tag :answer1_follow, "yes" %> Has follow-up
        <%= radio_button_tag :answer1_follow, "no", true %> No
        <br>
        <%= radio_button_tag :resource1_follow, "yes" %> Has resource
        <%= radio_button_tag :resource1_follow, "no", true %> No
      </div>
      </td>
      <td>
      <div class="resource1_follow">
      <br>
      Name
      <%= text_field_tag(:resource1_name) %>
      <br>
      Address Line 1
      <%= text_field_tag(:resource1_address1) %>
      <br>
      Address Line 2
      <%= text_field_tag(:resource1_address2) %>
      <br>
      City
      <%= text_field_tag(:resource1_city) %>
      <br>
      Zipcode
      <%= text_field_tag(:resource1_zip) %>
      <br>
      Phone Number
      <%= text_field_tag :resource1_phone1, nil, :maxlength =>3  %>
      <%= text_field_tag :resource1_phone2, nil, :maxlength =>3 %>
      <%= text_field_tag :resource1_phone3, nil, :maxlength =>4  %>
      <br>
      Website
      <%= text_field_tag(:resource1_website) %>
      <br>
      Optional Instructions
      <%= text_area_tag(:resource1_area) %>
    </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 2
  <%= text_field_tag(:answer2) %>
  <div class="answer2_follow">
    <%= radio_button_tag :answer2_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer2_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource2_follow, "yes" %> Has resource
    <%= radio_button_tag :resource2_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource2_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource2_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource2_address2) %>
    <br>
    City
    <%= text_field_tag(:resource2_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource2_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource2_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource2_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource2_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource2_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource2_area) %>
  </div>
    </td>
  </tr>
  <br>
  <tr>
    <td>
  Answer 3
  <%= text_field_tag(:answer3)  %>
  <div class="answer3_follow">
    <%= radio_button_tag :answer3_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer3_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource3_follow, "yes" %> Has resource
    <%= radio_button_tag :resource3_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource3_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource3_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource3_address2) %>
    <br>
    City
    <%= text_field_tag(:resource3_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource3_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource3_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource3_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource3_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource3_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource3_area) %>
  </div>
    </td>
    </tr>
    <tr>
    <td>
  <br>
  Answer 4
  <%= text_field_tag(:answer4) %>
  <br>
  <div class="answer4_follow">
    <%= radio_button_tag :answer4_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer4_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource4_follow, "yes" %> Has resource
    <%= radio_button_tag :resource4_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource4_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource4_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource4_address2) %>
    <br>
    City
    <%= text_field_tag(:resource4_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource4_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource4_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource4_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource4_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource4_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource4_area) %>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <br>
  Answer 5
  <%= text_field_tag(:answer5) %>
  <br>
  <div class="answer5_follow">
    <%= radio_button_tag :answer5_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer5_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource5_follow, "yes" %> Has resource
    <%= radio_button_tag :resource5_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource5_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource5_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource5_address2) %>
    <br>
    City
    <%= text_field_tag(:resource5_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource5_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource5_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource5_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource5_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource5_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource5_area) %>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <br>
  Answer 6
  <%= text_field_tag(:answer6) %>
  <br>
  <div class="answer6_follow">
    <%= radio_button_tag :answer6_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer6_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource6_follow, "yes" %> Has resource
    <%= radio_button_tag :resource6_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource6_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource6_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource6_address2) %>
    <br>
    City
    <%= text_field_tag(:resource6_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource6_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource6_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource6_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource6_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource6_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource6_area) %>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <br>
  Answer 7
  <%= text_field_tag(:answer7) %>
  <br>
  <div class="answer7_follow">
    <%= radio_button_tag :answer7_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer7_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource7_follow, "yes" %> Has resource
    <%= radio_button_tag :resource7_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource7_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource7_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource7_address2) %>
    <br>
    City
    <%= text_field_tag(:resource7_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource7_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource7_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource7_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource7_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource7_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource7_area) %>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <br>
  Answer 8
  <%= text_field_tag(:answer8) %>
  <br>
  <div class="answer5_follow">
    <%= radio_button_tag :answer8_follow, "yes" %> Has follow-up
    <%= radio_button_tag :answer8_follow, "no", true %> No
    <br>
    <%= radio_button_tag :resource8_follow, "yes" %> Has resource
    <%= radio_button_tag :resource8_follow, "no", true %> No
  </div>
    </td>
    <td>
  <div class="resource1_follow">
    <br>
    Name
    <%= text_field_tag(:resource8_name) %>
    <br>
    Address Line 1
    <%= text_field_tag(:resource8_address1) %>
    <br>
    Address Line 2
    <%= text_field_tag(:resource8_address2) %>
    <br>
    City
    <%= text_field_tag(:resource8_city) %>
    <br>
    Zipcode
    <%= text_field_tag(:resource8_zip) %>
    <br>
    Phone Number
    <%= text_field_tag :resource8_phone1, nil, :maxlength =>3  %>
    <%= text_field_tag :resource8_phone2, nil, :maxlength =>3 %>
    <%= text_field_tag :resource8_phone3, nil, :maxlength =>4  %>
    <br>
    Website
    <%= text_field_tag(:resource8_website) %>
    <br>
    Optional Instructions
    <%= text_area_tag(:resource8_area) %>
  </div>
    </td>
  </tr>
</table>
  <%= submit_tag("Save") %>
<% end %>