<%= form_tag("/questions/save", :method => "post") do %>
  <div style="margin:0;padding:0">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
  </div>
  <%= hidden_field_tag :id, @question.id%>
  <% if @follow == "true"%>
    This question is a follow-up to <%= @question.follows%>
    <%= hidden_field_tag :followUps, @question.follows%>
  <% else %>
    <% hidden_field_tag 'follows', @question.follows%>
  <% end %>
  
  <br>
  <%= label_tag(:quest, "Question:") %>
  <%= text_field_tag(:quest, @question.ask) %>
  <br>
  Order
  <%= text_field_tag(:order, @question.order) %>
  <br>
  <br>
  <% answers  = Answer.where(:question => @question.id)%>
  Answers:
  <br>
  <table>
    <tr>
      <td>
      <br>
      Answer 1
      <%currentAnswer = answers[0]%>

      <div class="answer1_follow">
        <%if answers.length > 0%>
          <%= text_field_tag(:answer1, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer1_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer1_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer1_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer1_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource1_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource1_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource1_follow, "yes" %> Has resource
            <%= radio_button_tag :resource1_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer1) %>

          <%= radio_button_tag :answer1_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer1_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource1_follow, "yes" %> Has resource
          <%= radio_button_tag :resource1_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
      <div class="resource1_follow">
      <%if answers.length > 0%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name

          <%= text_field_tag(:resource1_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource1_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource1_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource1_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource1_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource1_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource1_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource1_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource1_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource1_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource1_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource1_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource1_address2) %>
          <br>
          City
          <%= text_field_tag(:resource1_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource1_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource1_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource1_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource1_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource1_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource1_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource1_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource1_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource1_address2) %>
        <br>
        City
        <%= text_field_tag(:resource1_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource1_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource1_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource1_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource1_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource1_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource1_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 2
  <%currentAnswer = answers[1]%>

      <div class="answer2_follow">
        <%if answers.length > 1%>
          <%= text_field_tag(:answer2, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer2_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer2_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer2_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer2_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource2_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource2_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource2_follow, "yes" %> Has resource
            <%= radio_button_tag :resource2_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer2) %>

          <%= radio_button_tag :answer2_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer2_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource2_follow, "yes" %> Has resource
          <%= radio_button_tag :resource2_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 1%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource2_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource2_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource2_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource2_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource2_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource2_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource2_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource2_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource2_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource2_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource2_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource2_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource2_address2) %>
          <br>
          City
          <%= text_field_tag(:resource2_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource2_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource2_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource2_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource2_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource2_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource2_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource2_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource2_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource2_address2) %>
        <br>
        City
        <%= text_field_tag(:resource2_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource2_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource2_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource2_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource2_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource2_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource2_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 3
  <%currentAnswer = answers[2]%>

      <div class="answer1_follow">
        <%if answers.length > 2%>
          <%= text_field_tag(:answer3, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer3_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer3_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer3_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer3_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource3_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource3_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource3_follow, "yes" %> Has resource
            <%= radio_button_tag :resource3_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer3) %>

          <%= radio_button_tag :answer3_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer3_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource3_follow, "yes" %> Has resource
          <%= radio_button_tag :resource3_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 2%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource3_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource3_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource3_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource3_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource3_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource3_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource3_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource3_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource3_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource3_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource3_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource3_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource3_address2) %>
          <br>
          City
          <%= text_field_tag(:resource3_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource3_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource3_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource3_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource3_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource3_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource3_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource3_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource3_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource3_address2) %>
        <br>
        City
        <%= text_field_tag(:resource3_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource3_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource3_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource3_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource3_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource3_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource3_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
 Answer 4
  <%currentAnswer = answers[3]%>

      <div class="answer2_follow">
        <%if answers.length > 3%>
          <%= text_field_tag(:answer4, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer4_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer4_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer4_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer4_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource4_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource4_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource4_follow, "yes" %> Has resource
            <%= radio_button_tag :resource4_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer4) %>

          <%= radio_button_tag :answer4_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer4_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource4_follow, "yes" %> Has resource
          <%= radio_button_tag :resource4_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 3%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource4_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource4_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource4_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource4_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource4_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource4_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource4_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource4_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource4_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource4_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource4_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource4_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource4_address2) %>
          <br>
          City
          <%= text_field_tag(:resource4_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource4_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource4_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource4_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource4_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource4_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource4_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource4_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource4_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource4_address2) %>
        <br>
        City
        <%= text_field_tag(:resource4_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource4_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource4_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource4_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource4_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource4_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource4_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 5
  <%currentAnswer = answers[4]%>

      <div class="answer2_follow">
        <%if answers.length > 4%>
          <%= text_field_tag(:answer5, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer5_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer5_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer5_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer5_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource5_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource5_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource5_follow, "yes" %> Has resource
            <%= radio_button_tag :resource5_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer5) %>

          <%= radio_button_tag :answer5_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer5_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource5_follow, "yes" %> Has resource
          <%= radio_button_tag :resource5_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 4%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource5_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource5_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource5_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource5_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource5_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource5_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource5_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource5_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource5_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource5_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource5_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource5_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource5_address2) %>
          <br>
          City
          <%= text_field_tag(:resource5_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource5_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource5_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource5_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource5_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource5_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource5_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource5_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource5_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource5_address2) %>
        <br>
        City
        <%= text_field_tag(:resource5_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource5_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource5_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource5_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource5_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource5_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource5_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 6
  <%currentAnswer = answers[5]%>

      <div class="answer2_follow">
        <%if answers.length > 5%>
          <%= text_field_tag(:answer6, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer6_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer6_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer6_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer6_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource6_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource6_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource6_follow, "yes" %> Has resource
            <%= radio_button_tag :resource6_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer6) %>

          <%= radio_button_tag :answer6_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer6_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource6_follow, "yes" %> Has resource
          <%= radio_button_tag :resource6_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 5%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource6_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource6_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource6_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource6_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource6_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource6_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource6_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource6_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource6_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource6_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource6_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource6_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource6_address2) %>
          <br>
          City
          <%= text_field_tag(:resource6_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource6_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource6_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource6_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource6_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource6_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource6_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource6_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource6_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource6_address2) %>
        <br>
        City
        <%= text_field_tag(:resource6_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource6_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource6_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource6_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource6_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource6_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource6_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 7
  <%currentAnswer = answers[6]%>

      <div class="answer2_follow">
        <%if answers.length > 6%>
          <%= text_field_tag(:answer7, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer7_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer7_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer7_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer7_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource7_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource7_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource7_follow, "yes" %> Has resource
            <%= radio_button_tag :resource7_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer7) %>

          <%= radio_button_tag :answer7_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer7_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource7_follow, "yes" %> Has resource
          <%= radio_button_tag :resource7_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 6%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource7_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource7_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource7_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource7_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource7_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource7_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource7_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource7_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource7_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource7_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource7_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource7_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource7_address2) %>
          <br>
          City
          <%= text_field_tag(:resource7_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource7_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource7_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource7_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource7_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource7_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource7_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource7_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource7_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource7_address2) %>
        <br>
        City
        <%= text_field_tag(:resource7_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource7_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource7_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource7_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource7_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource7_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource7_area) %>
        <%end%>
      </div>
    </td>
    </tr>
    <br>
    <td>
  Answer 8
  <%currentAnswer = answers[7]%>

      <div class="answer8_follow">
        <%if answers.length > 7%>
          <%= text_field_tag(:answer8, currentAnswer.reply) %>
          <br>
          <%if currentAnswer.hasfq == true%>
            <%= radio_button_tag :answer8_follow, "yes", true%> Has follow-up
            <%= radio_button_tag :answer8_follow, "no" %> No
          <%else%>
            <%= radio_button_tag :answer8_follow, "yes"%> Has follow-up
            <%= radio_button_tag :answer8_follow, "no", true%> No
          <%end%>
          <br>
          <%if currentAnswer.resource_bool == true%>
            <%= radio_button_tag :resource8_follow, "yes", true %> Has resource
            <%= radio_button_tag :resource8_follow, "no"%> No
          <%else%>
            <%= radio_button_tag :resource8_follow, "yes" %> Has resource
            <%= radio_button_tag :resource8_follow, "no", true %> No
          <%end%>

        <%else%>
          <%= text_field_tag(:answer8) %>

          <%= radio_button_tag :answer8_follow, "yes" %> Has follow-up
          <%= radio_button_tag :answer8_follow, "no", true %> No
          <br>
          <%= radio_button_tag :resource8_follow, "yes" %> Has resource
          <%= radio_button_tag :resource8_follow, "no", true %> No
        <%end%>
      </div>
      </td>
      <td>
  <div class="resource1_follow">
      <%if answers.length > 7%>
        <%if currentAnswer.resource_bool == true%>
          <%resource = Resources.where(:answer_id => currentAnswer.id)%>
          <%currentResource = resource[0]%>
          <br>
          Name
          <%= text_field_tag(:resource8_name, currentResource.name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource8_address1, currentResource.address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource8_address2, currentResource.address2) %>
          <br>
          City
          <%= text_field_tag(:resource8_city, currentResource.city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource8_zip, currentResource.zipcode) %>
          <br>
          Phone Number
          <%= text_field_tag :resource8_phone1, currentResource.phone1,:maxlength =>3  %>
          <%= text_field_tag :resource8_phone2, currentResource.phone2,:maxlength =>3 %>
          <%= text_field_tag :resource8_phone3, currentResource.phone3,:maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource8_website, currentResource.website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource8_area, currentResource.instructions) %>
        <%else%>
          <br>
          Name
          <%= text_field_tag(:resource8_name) %>
          <br>
          Address Line 1
          <%= text_field_tag(:resource8_address1) %>
          <br>
          Address Line 2
          <%= text_field_tag(:resource8_address2) %>
          <br>
          City
          <%= text_field_tag(:resource8_city) %>
          <br>
          Zipcode
          <%= text_field_tag(:resource8_zip) %>
          <br>
          Phone Number
          <%= text_field_tag :resource8_phone1, nil, :maxlength =>3  %>
          <%= text_field_tag :resource8_phone2, nil, :maxlength =>3 %>
          <%= text_field_tag :resource8_phone3, nil, :maxlength =>4  %>
          <br>
          Website
          <%= text_field_tag(:resource8_website) %>
          <br>
          Optional Instructions
          <%= text_area_tag(:resource8_area) %>
        <%end%>
      <%else%>
        <br>
        Name
        <%= text_field_tag(:resource8_name) %>
        <br>
        Address Line 1
        <%= text_field_tag(:resource8_address1) %>
        <br>
        Address Line 2
        <%= text_field_tag(:resource8_address2) %>
        <br>
        City
        <%= text_field_tag(:resource8_city) %>
        <br>
        Zipcode
        <%= text_field_tag(:resource8_zip) %>
        <br>
        Phone Number
        <%= text_field_tag :resource8_phone1, nil, :maxlength =>3  %>
        <%= text_field_tag :resource8_phone2, nil, :maxlength =>3 %>
        <%= text_field_tag :resource8_phone3, nil, :maxlength =>4  %>
        <br>
        Website
        <%= text_field_tag(:resource8_website) %>
        <br>
        Optional Instructions
        <%= text_area_tag(:resource8_area) %>
        <%end%>
      </div>
    </td>
  </tr>
</table>
  <%= submit_tag("Save") %>
<% end %>