<%= stylesheet_link_tag "general"%>
<div class="container">
	<br>
	<p>
		<%Question.find_each do |q|%>
			Question Number: <%= q.order%> Language: <%= q.language%> Question:<%= link_to q.ask, {:controller => "questions", :action => "change", :id => q.id}%> <%= link_to "Delete", {:controller => "questions", :action => "delete", :id => q.id}%> 
			<br>
			<br>
			<br>
			<br>
		<%end%>
	</p>
	<p>
	</p>
</div>