<%= stylesheet_link_tag "limit_page" %>

<div class = "question_body">
<h1>Patient Handout</h1>
<p>
Thank you for participating in the Family Advocacy Program Questionnaire.
 
Please ask the Research Assistant to print the final page resource page.
 

</p>

<table>
	<!-- HEADER ROW-->
	<tr>
		<td class = "table_header">Category</td>
		<td class = "table_header">Resource</td>
		<td class = "table_header">Map</td>
		<td class = "table_header">Contact Info</td>
		<td class = "table_header">Description</td>
	</tr>
	<!-- RUBY 1-->

	<% categories = []%>
	<%categorical = ""%>
	<%answers = []%>
	<% @numbers.each do |index|%>
		<% id = Integer(index)%>
		<% answer = Answer.find(id)%>
		<!-- RUBY 2-->
		<%if answer.resource_bool == true%>
			<%resourceArr = Resources.where(:answer_id => answer.id)%>
		    <%resource = resourceArr[0]%>
			<!-- ROW 1-->
			<% address = resource.address1.gsub(' ', '+') + ',' + resource.address2.gsub(' ', '+') + ',' + resource.city.gsub(' ', '+') + ',' + resource.zipcode%>
			
			<% question = Question.find(Integer(answer.question))%>
	
			<%if resource.name == "Instructions"%>
				<% if !categories.include? question.category%>
				<%categories.push(question.category)%>
				<%end%>
			<%else%>
				<%if !answers.include?resource.name%>
				<%answers.push(resource.name)%>
				<tr>
					<!-- RUBY 3-->
					
						
					<td>
						
						<%= question.category%>
					</td>
					<td><%=resource.name%></td>
						
					<td class = "image">
						<% if address.length > 10%>
						<% image_src = "https://maps.googleapis.com/maps/api/staticmap?center=" + address + "&zoom=14&size=300x300&markers=" + address + "&sensor=false"%>
						<%= image_tag(image_src, alt: "Rails", :class=> "left") %>
						<br>
						<%= resource.address1%>
						<br>
						<%= resource.address2%>
						<br>
						<%= resource.city%>
						<%end%>
					</td>
					<td><% phone = "("+String(resource.phone1)+")"+String(resource.phone2)+"-"+String(resource.phone3)%>
						<% if phone.length > 3%><%=phone%><% end %>
					</td>
					
					<td><%=resource.instructions%></td>
					
				</tr>
				<!-- ROW 2-->	
				<tr>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
				</tr>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
	<% categories.each do |c|%>
		<%categorical += c + ", "%>
	<%end%>
	<% if categorical.length > 0%>
		<tr>
			<td>
				<%= categorical%>
			</td>
			<td>
				Instructions
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				The Family Advocacy Program may be able to help you and your family. Please discuss this with your child's doctor.
			</td>
		</tr>
	<%end%>
</table>

<p>
If you are having any legal problems please ask your doctor about the Family Advocacy Program.
<br>
<br>
<br>
<br>
<br>
<br>
</p>
<p>
	<%= link_to "Physician", {:controller => "survey", :action => "physician", :patient => @patient, :language => @language} , :class=> "rounded_button login_button"%>
</p>
</div>