<%= stylesheet_link_tag "survey_questions" %>
<div class = "container">
	<p class = "centered">

<% if !@answer.nil?%>
	<% if @answer.hasfq%>
			<%= link_to "Next", {:controller => "survey", :action => "view", :follow => true, :number => @number, :answer => @answer.id, :patient=>@patient_id}, :class=> "rounded_button color_button answer_button" %>
	<% else %>
			<%= link_to "Next", {:controller => "survey", :action => "view", :follow => false, :number => @number, :answer => @answer.id, :patient=>@patient_id}, :class=> "rounded_button color_button answer_button" %>
	<% end %>
	<br>
<% end %>
<br>

<% if @address.length > 10%>
<% image_src = "https://maps.googleapis.com/maps/api/staticmap?center=" + @address + "&zoom=14&size=300x300&markers=" + @address + "&sensor=false"%>
<%= image_tag(image_src, alt: "Rails") %>
<%end%>
<br>
<%= @name%>
<br>
<% if @website.length > 1%>
Website: <%= @website%>
<%end%>
</p>
</div>
