<%= stylesheet_link_tag "survey_questions" %>

<div class = "question_body">
<%= @answers%>
<h1>Physician Handout</h1>
<p>
The patient's family describes concerns with the following topics:
</p>
<br>

<table>
	<!-- HEADER ROW-->
	<tr>
		<td class = "table_header"></td>
		<td class = "table_header">Category</td>
		<td class = "table_header">Resource</td>
		<td class = "table_header">Description</td>
	</tr>
	<!-- RUBY 1-->

	<% categories = []%>
	<%categorical = ""%>
	<%answers = []%>
	<% @numbers.each do |index|%>
		<% id = Integer(index)%>
		<% answer = Answer.find(id)%>
		<!-- RUBY 2-->
		<%if answer.resource_bool == true%>
			<%resourceArr = Resources.where(:answer_id => answer.id)%>
		    <%resource = resourceArr[0]%>
			<!-- ROW 1-->
			<% address = resource.address1.gsub(' ', '+') + ',' + resource.address2.gsub(' ', '+') + ',' + resource.city.gsub(' ', '+') + ',' + resource.zipcode%>
			
			<% question = Question.find(Integer(answer.question))%>
	
			<%if resource.name == "Instructions"%>
				<% if !categories.include? question.category%>
				<%categories.push(question.category)%>
				<%end%>
			<%else%>
				<%if !answers.include?resource.name%>
				<%answers.push(resource.name)%>
				<tr>
					<!-- RUBY 3-->
					<td>
						<input type="checkbox">
					</td>
					<td>
						
						<%= question.category%>
					</td>
					<td><%=resource.name%></td>
					
					<td><%=resource.instructions%></td>
					
				</tr>
				<!-- ROW 2-->	
				<tr>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
					<td class = "dashed_line"></td>
				</tr>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
	<% categories.each do |c|%>
		<%categorical += c + ", "%>
	<%end%>
	<% if categorical.length > 0%>
		<tr>
			<td>
				<input type="checkbox">
			</td>
			<td>
				<%= categorical%>
			</td>
			<td>
				Instructions
			</td>
			<td>
				The Family Advocacy Program may be able to help you and your family. Please discuss this with your child's doctor.
			</td>
		</tr>
	<%end%>
</table>
<p>
<br>
<br>
<br>
<br>
<br>
If you have any additional questions or concerns about resources for your patient, please refer them to the Family Advocacy Program:
<br>
(650) 517-8904
<br>
Email: fguzman@legalaidsmc.org
<br>
Peninsula Family Advocacy Program of Legal Aid Society of San Mateo County The Natalie Lanam Justice Center Sobrato Center for Nonprofits - Redwood Shores 330 Twin Dolphin Drive, Suite 123 Redwood City, CA 94065
</p>
</div>